  <!--footer-->
  <footer class="container-fluid">
    <div class="row">
        <div class="col-3">
        <ul>
      <li> <a href="#">EL SITIO</a></li>
      <li> <a href="/cartaDelivery.html">CARTA DELIVERY</a></li>
      <li>  <a href="locales.ejs">LOCALES</a></li>
      <li>  <a href="reservas.ejs">RESERVAS</a></li>
      <li>  <a href="promociones.ejs ">PROMOCIONES</a></li>
      <li>  <a href="novedades.ejs">NOVEDADES</a></li>
        </ul></div>
    
    <div class="col-3">
        <ul>
           <li>  <a href="">CHECKPOINT</a></li>
           <li>  <a href="">RECETAS</a></li>
           <li> <a href="">ACERCA NUESTRO</a></li>
    
    </ul>
    
    </div>
    
    <div class="col-3">
       <div class="seguinos"> <ul>
         <li><span>SEGUINOS EN</span></li> 
         <li> <a href="https://www.instagram.com/">INSTAGRAM</a></li>
         <li> <a href="https://www.facebook.com/">FACEBOOK</a></li>
     <!-- <li> <a href="https://www.youtube.com/">YOUTUBE</a></li>--> 
        
     </ul></div>
</div>
     <div class="col-3">
      <div class="iconos">   <ul>
       <!--<li><a href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i></a></li> --->
          <a href="https://www.facebook.com/"> <i class="fab fa-facebook-square"></i></a>

        <a href="https://www.instagram.com/">  <i class="fab fa-instagram"></i></a>

       <a href="#"><i class="fas fa-qrcode"></i></a></li>
        
        <li><a href=""><i class="far fa-envelope"></i></a>
    
    </ul>
 </div>
</div>
<div class="col-12">
<p>Copyright © S.A todos los derechos reservados Aviso legal-carpeta publica-configuracion de cookies</p></div>
    
    </footer>
   

   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!--footer-->