<header >
  <nav class="container-fluid">
     <!--logo--> 
              <div class="row ">
                  <div class="col-sm-4-md-3-lg">
                     <img src="img/logo.png" alt="logotipo" class="logo"> 
                  </div>
                  <!--secciones-->
                  <div class="col-sm-4-md-7-lg" >
<nav class="navbar-expand-md">
    <button class="navbar-toggler burger" type="button" data-toggle="collapse"
                       data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                       aria-label="Toggle navigation"><i class="fas fa-bars "></i></button>
       
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="menu navbar-nav mr-auto">
                     <li class="navi"> <a class="" href="cartaDelivery.html">CARTA</a></li class="navi">
                     <li class="navi"> <a class="" href="locales.ejs">LOCALES</a></li class="navi">
                     <li class="navi"> <a class="" href="reservas.ejs">RESERVAS</a></li class="navi"> 
                     <li class="navi"> <a class="" href="promociones.ejs">PROMOCIONES</a></li class="navi"> 
                     <li class="navi"> <a class="" href="novedades.ejs">NOVEDADES</a></li>
                </ul>   
                
                </nav>  
                </div>
         </div><!--pedi online-->
             <div class="col-12 ">
<div class="box-1">
     <button type="button" class="btn btn-outline-dark">PEDI ONLINE</button></div>
             </div>
          </button>
     </div>
  </nav>
</header>
<!--header-->