<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/detallesdelproducto.css" rel=StyleSheet >
    <title>document</title>
</head>
<body>
    <div>
    <section class="detalleproducto">
    <article class="foto">
        <h3>titulo del plato</h3>
        <img src="/images/bebida1.jpg">
    </article>
        <article class="detalles">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, dolores ut. Eum repellat cum quod assumenda cumque atque. Possimus, dicta? Eaque provident sapiente accusamus, officiis unde vel suscipit sunt temporibus?</p>
        <h3>$2000</h3>
        <input type="button" value="delivery online" class="boton">
        <input type="button" value="registrarse" class="boton">
        </article>
    

</section>
<p class="ingredientes">
    pase el puntero del mause para ver los ingredientes
</p>
</div>
</body>
</html>