<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <LINK REL=StyleSheet HREF="/stylesheets/detalledecompra.css" >
    <title>Document</title>
</head>
<body>
    <div class="contenedortotal">
    <section>
        <article class="primer">
            <img rel="stylesheet" src="/images/eliminar.bmp" class="tacho">
            <img rel="stylesheets" src="/images/hamburguesa.bmp" class="burguer">
<h4>hamburguesa numero 1</h4>
<select name="cantidad" class="cant">
    <option value=1>1</option>
    <option value=2>2</option>
    </select>
<h3>$160</h3>
<select name="cantidad" class="cant2">
    <option value=1>1</option>
    <option value=2>2</option>
    </select>
</article>
<button class="b3">continuar comprando</button>
<article class="segundo">
<h4>
subtotal:$160
</h4>
<h4></h4>
<h4>
envio:$110
</h4>
<h4>_________________</h4>
<h4>
<h4>
total:$270
</h4>

        </article>
      
        <article class="tersero">
          <button class="b1">continuar comprando</button>
          <button class="b2">finalizar compra</button>
        </article>
        
    </section>
    
</div>

</body>
</html>