<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
   

    <!-- Own Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/style.css"> 
     <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link href = "https://fonts.googleapis.com/css2? family = Lato & family = Montserrat & family = Open + Sans & family = Raleway & display = swap "rel =" hoja de estilo ">
    
</head>
<body>
<header >
	 <nav class="container-fluid">
		   <!--logo--> 
	  <div class="row ">
						<div class="col-10">
						   <img src="logo/logo.png" alt="logotipo" class="logo"> 
					    </div>
		  <!--pedi online-->
				    <div class="col-2 ">
	                    <div class="box-1">
		                 <button type="button" class="btn btn-outline-dark">PEDI ONLINE</button>
						</div>
		            </div>
				
		    <!--secciones-->
			<div class="col-12" >
				<nav class="navbar navbar-expand-md navbar-dark bg-dark">
					<div class="container-fluid">
					 
					  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					  </button>
					  <div class="collapse navbar-collapse" id="navbarSupportedContent">
						
						    <li class="navi"> <a class="" href="/views/cartaDelivery.ejs ">CARTA</a></li class="navi">
							<li class="navi"> <a class="" href="/views/locales.ejs">LOCALES</a>     </li class="navi">
							<li class="navi"> <a class="" href="/views/reservas.ejs">RESERVAS</a>   </li class="navi"> 
							<li class="navi"> <a class="" href="/views/promociones.ejs">PROMOCIONES</a></li class="navi"> 
							<li class="navi"> <a class="" href="/views/novedades.ejs">NOVEDADES</a> </li class="navi">
						<ul class="usuario navbar-nav">
									<li><a href="">Ingresá <i class="fas fa-sign-in-alt "></i></a></li>
									<li><a href="">Creá tu cuenta <i class="far fa-address-card "></i></a></li>
									<li><a href="">Mis compras<i class="fas fa-shopping-basket "></i></a></li>
								</ul> 
						  
						  
						
						<form class="d-flex">
						 
						</form>
					  </div>
					</div>
				  </nav>


		          
			
	    </div>
	</nav> 
 </header>
	        <!--header-->
            <!--menu-->
<menu class="container">
    <div class="row">
                             <h1>--¿Quienes Somos?--</h1>
                            <p>Somos un grupo de apasionados de la programación web que durante la cuarentena sintió que a las reuniones por Zoom con amigos les faltaba algo: una buena picada y una cerveza artesanal bien fría.
                                posdata:¡Amamos las PIZZAS!!!!.
                            </p>
                             <h1>~~¿Como Empezamos?~~</h1>
                             <p>Check Point es una plataforma de venta de comida y cervecería artesanal que nace frente a la necesidad de innovación del rubo gastronomico al encontrarse afectado por la pandemia de COVID-19.

                                Buscamos atraer un público que disfrute de platos típicos de bar como así también de cervezas artesanales.</p>
                              <h1>--conoce a nuestro staf--</h1>
                              <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Ana Patricia Rojas
                                    </h5>
                                  <p class="card-text">39 años</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">Emprendedora
                                    </li>
                                  <li class="list-group-item"> fans de las hamburguesería </li>
                                  <li class="list-group-item"> la cerveza artesanal son su debilidad</li>
                                </ul>
                                <div class="card-body">
                                  <a href="#" class="card-link">link de facebook</a>
                                  <a href="#" class="card-link">otro link</a>
                                </div>
                              </div>
                              <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title"> Josue Abi Rached Dos Reis</h5>
                                  <p class="card-text">24 años,fanaticos de los videojuegos y de la musica!.
                                
                                </p>
                                </div>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">Estudiante universitario</li>
                                  <li class="list-group-item">Amante de la pizza</li>
                                  <li class="list-group-item">Musico</li>
                                </ul>
                                <div class="card-body">
                                  <a href="#" class="card-link"></a>
                                  <a href="#" class="card-link"></a>
                                </div>
                              </div><div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Matías Cardillo</h5>
                                  <p class="card-text">29 años</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">Vendedor</li>
                                  <li class="list-group-item">Le encantan las hamburguesas</li>
                                  <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                                <div class="card-body">
                                  <a href="#" class="card-link">Card link</a>
                                  <a href="#" class="card-link">Another link</a>
                                </div>
                              </div>
                              <h1>--ubicanos en-- </h1>
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.05059574128!2d-58.34830674515807!3d-34.72911902122834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32d6054858655%3A0x9ee4cdbcea989a6b!2sAv.%20Tte.%20Gral.%20Donato%20%C3%81lvarez%204899-4799%2C%20B1825%20Monte%20Chingolo%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1612930858744!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            
                            
                            
                            
                            
                            
                              
                                
                              
                                
                                
    </div>
</menu>

<div class="container"> 
	<div class="row">
	 <div class="ic">
		<div class="col-4">
          		<i  class="fas fa-truck"></i>
	            <h3>Enviamos tus compra</h3>
	            <h4>todo CABA</h4>
		</div>

    	<div class="col-4">
			    <i class="fas fa-credit-card"></i>
	            <h3>Paga como quieras</h3>
	            <h4>Tarjeta de creditos o efectivo</h4>
		</div>

	    <div class="col-4">
		    	<i class="fas fa-lock"></i>
            	<h3>Compra con seguridad</h3>
            	<h4>tus datos siempre estan protegidos</h4>
		</div>
     </div>
    </div>
</div>

 <!--footer-->
 <footer class="container-fluid">
    <div class="row">
        <div class="col-3">
             <ul>
         		<li><a href="/views/index.ejs">EL SITIO</a></li>
                <li><a href="/views/cartaDelivery.html">CARTA DELIVERY</a></li>
                <li><a href="/views/locales.ejs">LOCALES</a></li>
                <li><a href="/views/reservas.ejs">RESERVAS</a></li>
                <li><a href="/views/promociones.ejs ">PROMOCIONES</a></li>
                <li><a href="/views/novedades.ejs">NOVEDADES</a></li>
             </ul>
		</div>
    
        <div class="col-3">
             <ul>
               <li><a href="/views/index.ejs">CHECKPOINT</a></li>
               <li><a href="/views/recetas.ejs">RECETAS</a></li>
               <li><a href="/views/nosotros.ejs">ACERCA NUESTRO</a></li>
             </ul>
         </div>
    
         <div class="col-3">
           <div class="seguinos">
			   <ul>
                 <li><span>SEGUINOS EN</span></li> 
                 <li><a href="https://www.instagram.com/">INSTAGRAM</a></li>
                 <li><a href="https://www.facebook.com/">FACEBOOK</a></li>
                 <li> <a href="https://www.youtube.com/">YOUTUBE</a></li> 
                </ul>
			</div>
    </div>
        <div class="col-3">
             <div class="iconos">   
				   <ul>
                         <li><a href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i></a></li>
                         <li><a href="https://www.facebook.com/"> <i class="fab fa-facebook-square"></i></a></li>
                         <li><a href="https://www.instagram.com/">  <i class="fab fa-instagram"></i></a></li>
                         <li><a href="#"><i class="fas fa-qrcode"></i></a></li>
                         <li><a href=""><i class="far fa-envelope"></i></a></li>
    
                    </ul>
            </div>
        </div>
<div class="col-12"><p>Copyright © S.A todos los derechos reservados Aviso legal-carpeta publica-configuracion de cookies</p></div>
    
</footer>
   

   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!--footer-->

 </body>
</html>