<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/seccionesProductos.css">
    
   

    <title>Platos principales</title>
</head>
<body>
<div class="container-sm">
   
    <div class="marca"><h2> CHECKPOINT</h2></div>
    <div Class="portadaSecciones"><h1>NUESTROS PLATOS PRINCIPALES</h1></div>

    <h2 class="nombrePlato">CHECKPOINT BROCHETTE VEGAN </h2>
     <div class="plato">
            
      <img src="/images/principal1.png" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
      <div class="d-grid gap-2 d-md-block">
        <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
        <button class="btn btn-primary" type="button">Pedir</button>
         <p class="Precios"> 600$ </p>
            
         <p class="NombrePlato"> Combo X6 </p>
        
         <p class="Especificacion"> Mix de verduras cocinadas al vapor y el toque de sabor especial checkpoint <br>
             -------------------------------------------------------------------------------------------------------</p>
         <div class="Especificacion">

       </div>
     
 </div>
      </div>


   
  
     <h2 class="nombrePlato">CHECKPOINT HAMBURGUESA VEGANA </h2>
     <div class="plato">
        
      <img src="/images/principal2.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
         <div class="Especificacion">
             <div class="d-grid gap-2 d-md-block">
              <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
              <button class="btn btn-primary" type="button">Pedir</button>
               </div>
             <p class="Precios"> 400$ </p>
             <p class="NombrePlato"> Hamburgueza de garbanzos, acompañada por mix de vegetales </p>
             
             <p class="Especificacion">Dos hambuerguesas completas con papas, 1 coca de litro y aderezos<br>
                 -------------------------------------------------------------------------------------------------------</p>
            
         </div>
      </div>
  
      <h2 class="nombrePlato">CHECKPOINT CARNE CON PAPAS </h2>
    <div class="plato">
    
     <img src="/images/principal3.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
        <div class="Especificacion">
         <div class="d-grid gap-2 d-md-block">
          <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
          <button class="btn btn-primary" type="button">Pedir</button>
           </div>
            <p class="Precios"> 800$ </p>
            <p class="NombrePlato"> Cazuela completa X2 </p>
          
            <p class="Especificacion">Carne con papas a la criolla para dos personas <br>
             -----------------------------------------------------------------------------------------------------</p>
          
        </div>
     </div>
  
     <h2 class="nombrePlato">CHECKPOINT ÑOQUIS CON SALSA </h2>
    <div class="plato">
     <img src="/images/principal4.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
        <div class="Especificacion">
         <div class="d-grid gap-2 d-md-block">
          <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
          <button class="btn btn-primary" type="button">Pedir</button>
           </div>
            <p class="Precios"> 350$ </p>
            <p class="NombrePlato"> 1 Porcion XL</p>
           
            <p class="Especificacion">Ñoquis de papas, con salsa pomarola<br>
             ------------------------------------------------------------------------------------------------------</p>
                 
            
        </div>
     </div>
  
     <h2 class="nombrePlato">CHECKPOINT TAKOS </h2>
    <div class="plato">
     <img src="/images/principal5.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
        <div class="Especificacion">
         <div class="d-grid gap-2 d-md-block">
          <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
          <button class="btn btn-primary" type="button">Pedir</button>
           </div>
            <p class="Precios"> 400$ </p>
            <p class="NombrePlato"> Combo X2 + salsa picante</p>
            <p class="Especificacion">Takos de pollo salterado con verduras mas salsa picante de aguacate <br>
             ------------------------------------------------------------------------------------------------------</p> 
           
        </div>
     </div>

     <h2 class="nombrePlato">CHECKPOINT TABLA SUSHI</h2>
    <div class="plato">
     <img src="/images/principal6.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
        <div class="Especificacion">
         <div class="d-grid gap-2 d-md-block">
          <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
          <button class="btn btn-primary" type="button">Pedir</button>
           </div>
            <p class="Precios"> 900$ </p>
            <p class="NombrePlato"> mIX Completo XL para dos personas </p>
            <p class="Especificacion">Dos hambuerguesas completas con papas, 1 coca de litro y aderezos <br>
        
        </div>
     </div>
 </div>
<li><a href="/">volver a promociones<i class="fas fa-sign-in-alt "></i></a></li>
</body>