<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/seccionesProductos.css">
    
   

    <title>Nuestras Hamburguesas</title>
</head>
<body>
    <div class="container-sm">
   
       <div class="marca"><h2> CHECKPOINT</h2></div>
       <div Class="portadaSecciones"><h1>NUESTRAS HAMBURGUESAS</h1></div>

       <h2 class="nombrePlato">CHECKPOINT ESPECIAL RÚSTICA </h2>
        <div class="plato">
               
         <img src="/images/hambur1.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
         <div class="d-grid gap-2 d-md-block">
          <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
          <button class="btn btn-primary" type="button">Pedir</button>
            <p class="Precios"> 1200$ </p>
               
            <p class="NombrePlato"> Combo completo X2 </p>
           
            <p class="Especificacion">Dos hambuerguesas completas con papas, 1 coca de litro y aderezos <br>
                -------------------------------------------------------------------------------------------------------</p>
            <div class="Especificacion">

          </div>
        
    </div>
         </div>


      
     
        <h2 class="nombrePlato">CHECKPOINT ESPECIAL ANANÁ </h2>
        <div class="plato">
           
         <img src="/images/hambur2.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
            <div class="Especificacion">
                <div class="d-grid gap-2 d-md-block">
                  <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
                  <button class="btn btn-primary" type="button">Pedir</button>
                  </div>
                <p class="Precios"> 1200$ </p>
                <p class="NombrePlato"> Combo completo X2 </p>
                
                <p class="Especificacion">Dos hambuerguesas completas con papas, 1 coca de litro y aderezos<br>
                    -------------------------------------------------------------------------------------------------------</p>
               
            </div>
         </div>
     
         <h2 class="nombrePlato">CHECKPOINT ESPECIAL SHAMPIÑON </h2>
       <div class="plato">
       
        <img src="/images/hambur3.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
           <div class="Especificacion">
            <div class="d-grid gap-2 d-md-block">
              <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
              <button class="btn btn-primary" type="button">Pedir</button>
              </div>
               <p class="Precios"> 750$ </p>
               <p class="NombrePlato"> Combo completo X2 </p>
             
               <p class="Especificacion">Dos hambuerguesas completas con papas, 1 coca de litro y aderezos <br>
                -----------------------------------------------------------------------------------------------------</p>
             
           </div>
        </div>
     
        <h2 class="nombrePlato">CHECKPOINT JUNIOR BOX </h2>
       <div class="plato">
        <img src="/images/hambur4.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
           <div class="Especificacion">
            <div class="d-grid gap-2 d-md-block">
              <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
              <button class="btn btn-primary" type="button">Pedir</button>
              </div>
               <p class="Precios"> 780$ </p>
               <p class="NombrePlato"> Combo completo X2 </p>
              
               <p class="Especificacion">Dos hambuerguesas completas con papas, 1 coca de litro y aderezos<br>
                ------------------------------------------------------------------------------------------------------</p>
                    
               
           </div>
        </div>
     
        <h2 class="nombrePlato">CHECKPOINT SUPER CHEDAR</h2>
       <div class="plato">
        <img src="/images/hambur5.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
           <div class="Especificacion">
            <div class="d-grid gap-2 d-md-block">
              <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
              <button class="btn btn-primary" type="button">Pedir</button>
              </div>
               <p class="Precios"> 780$ </p>
               <p class="NombrePlato"> Combo completo X2 </p>
               <p class="Especificacion">Dos hambuerguesas completas con papas, 1 coca de litro y aderezos<br>
                ------------------------------------------------------------------------------------------------------</p> 
              
           </div>
        </div>

        <h2 class="nombrePlato">CHECKPOINT SIMPLY</h2>
       <div class="plato">
        <img src="/images/hambur6.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
           <div class="Especificacion">
            <div class="d-grid gap-2 d-md-block">
              <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
              <button class="btn btn-primary" type="button">Pedir</button>
              </div>
               <p class="Precios"> 780$ </p>
               <p class="NombrePlato"> Combo completo X2 </p>
               <p class="Especificacion">Dos hambuerguesas completas con papas, 1 coca de litro y aderezos <br>
           
           </div>
        </div>
    </div>
     
<li><a href="/">volver a promociones<i class="fas fa-sign-in-alt "></i></a></li>
    
    </body>

      













