<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/seccionesProductos.css">
    
   

    <title>Nuestros Postres</title>
</head>
<body>
<div class="container-sm">
   
    <div class="marca"><h2> CHECKPOINT</h2></div>
    <div Class="portadaSecciones"><h1>NUESTROS POSTRES</h1></div>

    <h2 class="nombrePlato">CHECKPOINT FRUTOS DEL BOSQUE </h2>
     <div class="plato">
            
      <img src="/images/postre1.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
      <div class="d-grid gap-2 d-md-block">
        <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
        <button class="btn btn-primary" type="button">Pedir</button>
         <p class="Precios"> 350$ </p>
            
         <p class="NombrePlato"> Frutos caramelizados </p>
        
         <p class="Especificacion">Frutos rojos caramelizados con crema bañado en chocolate y dulce de leche <br>
             -------------------------------------------------------------------------------------------------------</p>
         <div class="Especificacion">

       </div>
     
 </div>
      </div>


   
  
     <h2 class="nombrePlato">CHECKPOINT CANASTITO DE CHOCOLATE </h2>
     <div class="plato">
        
      <img src="/images/postre2.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
         <div class="Especificacion">
             <div class="d-grid gap-2 d-md-block">
              <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
              <button class="btn btn-primary" type="button">Pedir</button>
               </div>
             <p class="Precios"> 350$ </p>
             <p class="NombrePlato"> Brownie </p>
             
             <p class="Especificacion">Brounie de chocolate envuelto de chocolate blanco, bañado en salsa de frutos rojos y chocolate negro<br>
                 -------------------------------------------------------------------------------------------------------</p>
            
         </div>
      </div>
  
      <h2  class="nombrePlato">CHECKPOINT DOBLE DULCE DE ELECHE </h2>
    <div class="plato">
    
     <img src="/images/postre3.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
        <div class="Especificacion">
         <div class="d-grid gap-2 d-md-block">
          <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
          <button class="btn btn-primary" type="button">Pedir</button>
           </div>
            <p class="Precios"> 700$ </p>
            <p class="NombrePlato"> Combo completo X3 </p>
          
            <p class="Especificacion">Super combo doble de helado de dulce de leche, flan con dulce de leche y budin de pan, tambien con dulce de leche<br>
             -----------------------------------------------------------------------------------------------------</p>
          
        </div>
     </div>
  
     <h2 class="nombrePlato">CHECKPOINT HELADOS </h2>
    <div class="plato">
     <img id="2" src="/images/postre4.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
        <div class="Especificacion">
         <div class="d-grid gap-2 d-md-block">
          <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
          <button class="btn btn-primary" type="button">Pedir</button>
           </div>
            <p class="Precios"> 250$ </p>
            <p class="NombrePlato"> Copa de helado </p>
           
            <p class="Especificacion">copa de helado 1/4 de frutilla y chocolate<br>
             ------------------------------------------------------------------------------------------------------</p>
                 
            
        </div>
     </div>
  
     <h2 class="nombrePlato">CHECKPOINT DULCE DE LA CASA</h2>
    <div class="plato">
     <img src="/images/postre5.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
        <div class="Especificacion">
         <div class="d-grid gap-2 d-md-block">
          <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
          <button class="btn btn-primary" type="button">Pedir</button>
           </div>
            <p class="Precios"> 300$ </p>
            <p class="NombrePlato"> Tailandéz </p>
            <p class="Especificacion">Brownie de dulce de leche, con crema de mango<br>
             ------------------------------------------------------------------------------------------------------</p> 
           
        </div>
     </div>

     <h2 class="nombrePlato">CHECKPOINT TORTA HELADA</h2>
    <div class="plato">
     <img src="/images/postre6.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
        <div class="Especificacion">
         <div class="d-grid gap-2 d-md-block">
          <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
          <button class="btn btn-primary" type="button">Pedir</button>
           </div>
            <p class="Precios"> 300$ </p>
            <p class="NombrePlato"> Torta helada ndividual  </p>
            <p class="Especificacion"> sabor vainilla, cafe y mouse de chocolate, mas crema <br>
        
        </div>
     </div>
 </div>
<li><a href="/">volver a promociones<i class="fas fa-sign-in-alt "></i></a></li>
</body>