<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/seccionesProductos.css">
    
   

    <title>Nuestras bebidas</title>
</head>
<body>
<div class="container-sm">
   
    <div class="marca"><h2> CHECKPOINT</h2></div>
    <div Class="portadaSecciones"><h1>NUESTRAS BEBIDAS</h1></div>

    <h2 class="nombrePlato">GASEOSAS DE LA CASA </h2>
     <div class="plato">
            
      <img src="/images/bebida1.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
      <div class="Especificacion">
         <div class="d-grid gap-2 d-md-block">
        <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
        
        <button class="btn btn-primary" type="button">Pedir</button>
         </div>
         <p class="Precios"> 200$ </p>
            
         <p class="NombrePlato"> COCACOLA, FANTA, SPRITE </p>
        
         <p class="Especificacion"> Bebidas sin alcohol, de 2l 1/4 <br>
             -------------------------------------------------------------------------------------------------------</p>
         <div class="Especificacion">

       </div>
     
 </div>
      </div>


   
  
     <h2 id="1" class="nombrePlato">CHECKPOINT CERVEZA TIRADA </h2>
     <div class="plato">
        
      <img src="/images/bebida2.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
         <div class="Especificacion">
            <div class="d-grid gap-2 d-md-block">
            <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
            <button class="btn btn-primary" type="button">Pedir</button>
             
             <p class="Precios"> 300$ </p>
             <p class="NombrePlato"> Varios sabores para degustar en nuestro local </p>
             
             <p class="Especificacion">Porron 3/4 de litro<br>
                 -------------------------------------------------------------------------------------------------------</p>
            
         </div>
      </div>
  
      <h2 class="nombrePlato">CHECKPOINT CERVEZA ARTESANAL  </h2>
    <div class="plato">
    
     <img src="/images/bebida3.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
        <div class="Especificacion">
         <div class="d-grid gap-2 d-md-block">
          <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
          <button class="btn btn-primary" type="button">Pedir</button>
           </div>
            <p class="Precios"> 350$ </p>
            <p class="NombrePlato"> Botella recargable de 1 litro  </p>
          
            <p class="Especificacion"> Nuestro wallaw, para envio a domicilio, en nuestro local podés disfrutar de todos los sabores que tenemos para ofrecerte <br>
             -----------------------------------------------------------------------------------------------------</p>
          
        </div>
     </div>
  
     <h2 class="nombrePlato">CHECKPOINT FERNET X2 </h2>
    <div class="plato">
     <img src="/images/bebida4.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
        <div class="Especificacion">
         <div class="d-grid gap-2 d-md-block">
          <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
          <button class="btn btn-primary" type="button">Pedir</button>
           </div>
            <p class="Precios"> 500$ </p>
            <p class="NombrePlato"> Fernet X2 </p>
           
            <p class="Especificacion">Si, te prepamos el mejor fernet de la zona<br>
             ------------------------------------------------------------------------------------------------------</p>
                 
            
        </div>
     </div>
  
     <h2 class="nombrePlato">CHECKPOINT FERNET XL</h2>
    <div class="plato">
     <img src="/images/bebida5.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
        <div class="Especificacion">
         <div class="d-grid gap-2 d-md-block">
          <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
          <button class="btn btn-primary" type="button">Pedir</button>
           </div>
            <p class="Precios"> 800$ </p>
            <p class="NombrePlato"> 1L Del mejor, preparado por nuestro barman</p>
            <p class="Especificacion"> Jarra en nuestro local y botella para envíos, especial para compartir<br>
             ------------------------------------------------------------------------------------------------------</p> 
           
        </div>
     </div>

     <h2 class="nombrePlato">CHECKPOINT JUGOS NATURALES</h2>
    <div class="plato">
     <img src="/images/bebida6.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
        <div class="Especificacion">
         <div class="d-grid gap-2 d-md-block">
          <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
          <button class="btn btn-primary" type="button">Pedir</button>
           </div>
            <p class="Precios"> 150$ </p>
            <p class="NombrePlato"> Exprimidos frutales </p>
            <p class="Especificacion"> Exprimidos de naranja para envios <br>
        
        </div>
     </div>
 </div>
<li><a href="/">volver a promociones<i class="fas fa-sign-in-alt "></i></a></li>
</body>