<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/seccionesProductos.css">
    
   

    <title>Nuestras Pizzas y empanadas</title>
</head>
<body>
<div class="container-sm">
   
    <div class="marca"><h2> CHECKPOINT</h2></div>
    <div Class="portadaSecciones"><h1>NUESTRAS PIZZAS Y EMPANADAS</h1></div>

    <h2 class="nombrePlato">CHECKPOINT MUZZA </h2>
     <div class="plato">
            
      <img src="/images/pizzaEmpa1.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
      <div class="d-grid gap-2 d-md-block">
         <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
          <button class="btn btn-primary" type="button">Pedir</button>
         <p class="Precios"> 600$ </p>
            
         <p class="NombrePlato"> Pizza Muzarella </p>
        
         <p class="Especificacion">Muzzarella grande de la casa <br>
             -------------------------------------------------------------------------------------------------------</p>
         <div class="Especificacion">

       </div>
     
 </div>
      </div>


   
  
     <h2 class="nombrePlato">CHECKPOINT MAXICOMBO </h2>
     <div class="plato">
        
      <img src="/images/pizzaEmpa2.png" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
         <div class="Especificacion">
             <div class="d-grid gap-2 d-md-block">
              <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
              <button class="btn btn-primary" type="button">Pedir</button>
               </div>
             <p class="Precios"> 1000$ </p>
             <p class="NombrePlato"> Napolitana + Empanadas </p>
             
             <p class="Especificacion">1 pizza napolitana mas 1 docena de empanadas de carne y pollo<br>
                 -------------------------------------------------------------------------------------------------------</p>
            
         </div>
      </div>
  
      <h2 class="nombrePlato">CHECKPOINT MAXICOMBO 2  </h2>
    <div class="plato">
    
     <img src="/images/pizzaemps3.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
        <div class="Especificacion">
         <div class="d-grid gap-2 d-md-block">
          <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
          <button class="btn btn-primary" type="button">Pedir</button>
           </div>
            <p class="Precios"> 1000$ </p>
            <p class="NombrePlato"> Fugazzeta + Empanadas </p>
          
            <p class="Especificacion"> 1 pizza fugazzeta mas 1 docena de empanadas de carne y pollo <br>
             -----------------------------------------------------------------------------------------------------</p>
          
        </div>
     </div>
  
     <h2 id="3" class="nombrePlato">CHECKPOINT ENPANADAS VEGANAS </h2>
    <div class="plato">
     <img src="/images/pizzaEmpa4.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
        <div class="Especificacion">
         <div class="d-grid gap-2 d-md-block">
          <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
          <button class="btn btn-primary" type="button">Pedir</button>
         
           </div>
            <p class="Precios"> 500$ </p>
            <p class="NombrePlato"> 1 Docena </p>
           
            <p class="Especificacion"> Enpanadas veganas con vegetales y garbansos<br>
             ------------------------------------------------------------------------------------------------------</p>
                 
            
        </div>
     </div>
  
     <h2 class="nombrePlato">CHECKPOINT PIZZA VEGANA</h2>
    <div class="plato">
     <img src="/images/pizzaEmps5.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
        <div class="Especificacion">
         <div class="d-grid gap-2 d-md-block">
          <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
          <button class="btn btn-primary" type="button">Pedir</button>
           </div>
           <p class="Precios"> 500$ </p>
           <p class="NombrePlato"> 1 Docena </p>
          
            <p class="Especificacion">Pizza vegana con vegetales seleccionados<br>
             ------------------------------------------------------------------------------------------------------</p> 
           
        </div>
     </div>

     <h2 class="nombrePlato">CHECKPOINT ESPECIAL DE LA CASA</h2>
    <div class="plato">
     <img src="/images/pizzaEmpa6.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
        <div class="Especificacion">
         <div class="d-grid gap-2 d-md-block">
          <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
          <button class="btn btn-primary" type="button">Pedir</button>
           </div>
            <p class="Precios"> 1200$ </p>
            <p class="NombrePlato"> Super mix de sabores </p>
            <p class="Especificacion">pizza mix de Napolitana, tomate, cebolla, huevo, palmitos + 6 empanadas de carne, 6 de pollo, 6 de jamon y queso </p>
        
        </div>
     </div>
 </div>
<li><a href="/">volver a promociones<i class="fas fa-sign-in-alt "></i></a></li>
</body>