body{
      
    background-image: url("../logo/fondo.jpg");
    color: blanchedalmond;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
font-family:'Architects Daughter', cursive;
}
}
 h3{
     color: rgb(253, 251, 247);
 }